// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$grey: #313436;

// breakpoints
$tablets: 768px;
$phones: 480px;

// normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/fonts",
        "_misc/media",
        "_misc/layout";


// common
@import "blocks/common/btn.scss",
        "blocks/common/fixed-menu.scss",
        "blocks/common/section-title.scss";

// blocks
@import "blocks/hero.scss",
        "blocks/best.scss",
        "blocks/footer.scss",
        "blocks/header.scss",
        "blocks/map.scss",
        "blocks/menu.scss",
        "blocks/order.scss",
        "blocks/product.scss",
        "blocks/arrow.scss",
        "blocks/reviews.scss",
        "blocks/team.scss",
        "blocks/modal.scss",
        "blocks/consist.scss",
        "blocks/hamburger-menu.scss";
