.btn {
  @include ubuntu($style: medium);

  padding: rem(8px) rem(15px);
  background: $red;
  color: #fff;
  text-decoration: none;
  outline: none;
  border-radius: rem(5px);
  border-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  font-size: rem(13px);
  cursor: pointer;

  @include tablets() {
    font-size: rem(16px);
  }

  &_background_black {
    background: $black;
  }
  &_background_none {
    background: transparent;
  }
  &_order {
    align-self: center;
  }
  &_popup_close {
    display: none;
  }
}
