.section-title {
  @include gagalin()

  font-size: rem(72px);
  color: $yellow;
  line-height: 1.1;
  margin-bottom: rem(50px);

  @include tablets() {
    font-size: rem(76px);
  }
  @include phones() {
    font-size: rem(68px);
  }

  &_black {
    color: $black;
  }
  &_white {
    color: #ffffff;
  }
  &_best {
    @include tablets() {
      font-size: rem(82px);
    }
    @include phones() {
      font-size: rem(62px);
    }
  }
  &_hero {
    margin-bottom: rem(25px);
    white-space: nowrap;

    @include tablets() {
      margin-bottom: 1rem;
      white-space: nowrap;
      font-size: rem(82px);
}
    @include phones() {
      font-size: rem(72px);
      white-space: nowrap;
      margin: 0;
    }
  }
  &_team {
    margin-bottom: rem(40px);

    @include tablets() {
      font-size: rem(82px);
      margin-bottom: rem(45px);
    }
    @include phones() {
      font-size: rem(58px);
      margin-bottom: rem(30px);
    }
  }
  &_menu {
    position: absolute;
    top: rem(95px);
    left: rem(95px);
    margin-bottom: 0;

    @include tablets {
      top: rem(110px);
      left: rem(30px);
      margin-bottom: 0;
      font-size: rem(82px);
    }
    @include phones {
      font-size: rem(56px);
      margin-bottom: 0;
      top: rem(60px);
      left: rem(10px);
    }
  }
  &_order {
    @include phones() {
      font-size: rem(50px);
      margin-bottom: rem(20px);
    }
  }
  &_product {
    line-height: rem(65px);
    margin-bottom: 0;

    @include tablets() {
      font-size: 5.2rem;
      line-height: rem(70px);
    }
    @include phones() {
      font-size: 3.85rem;
      width: 99%;
    }
    @include iphoneFiveScreen() {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
